@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.text-shadow-white {
    text-shadow: 0 1px 10px rgba(255, 255, 255, 0.303);
}

.connect-page {
    position: relative;
    background-color: black; /* Основной цвет фона */
    font-family: 'Roboto', ;

}

.connect-page::before,
.connect-page::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(254, 254, 60, 0.4), rgba(255, 255, 0, 0));
    pointer-events: none;
    z-index: 0;
}

.connect-page::before {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 60%;
    filter: blur(80px);
}

.connect-page::after {
    width: 300px;
    height: 300px;
    bottom: 20%;
    right: 50%;
    filter: blur(100px);
}
