@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    #root {
      height: 100dvh;
    }
  }
  

.no-scroll {
  overflow: hidden;
}

/* Ensure the chart container doesn't affect the layout */
.chart-container {
  position: relative;
  width: 100%;
  height: 100%;
}
